<h1>Here is a safe place to store all your photos!</h1>
<form accept-charset="UTF-8" action="/search" data-remote="true" method="get">
  <label for="q"> Submit URLs Here:</label>
  <input id="q" name="q" type="text" />
  <input name="commit" type="submit" value="Submit" data-disable-with="Submit" />
</form>
